#title {
  top: -106px !important;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: black;
  border-width: 1px;
  padding-bottom: 5px;
  width: 100%;
}

#dropdowncontainer {
  float: right;
  margin-right: 3%;
  top: 12px;
  position: relative;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#logo {
  width: 50px;
  height: 50px;
  left: 78px;
  top: 2px;
  position: relative;
}

#images {
  min-width: 84;
  min-height: 84;
  max-width: 100px;
  max-height: 100px;
  position: relative;
  display: inline-block;
  z-index: 1;
}

#logo2 {
  width: 34px;
  height: 34px;
  left: 100px;
  top: -6px;
  position: relative;
}

#logo3 {
  width: 34px;
  height: 34px;
  float: right;
  right: 2%;
  top: 10px;
  position: relative;
  text-decoration: none;
  font-weight: 100;
}

.App-link {
  color: #61dafb;
}

.container {
  margin: auto;
  position: relative;
}

div.header {
  padding-top: 0px !important;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
  position: relative;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button {
  width: 93%;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f3f3f3;
  ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}