/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1;
}
  
.filterBox {
    position: relative;
    width: 60%;
    margin: 0 auto;
    height: 76%;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.filterButtons {
    float: left;
}

#filterSearchBar {
    height: 25px;
    position: relative;
    width: 200%;
}

#tagsDynamicFilter {
    border: solid 1px;
    height: 25px;
    position: relative;
    width: 50%;
}

#addDynamicFilter, #remDynamicFilter {
    height: 100%;
}

#topBar {
    width: 100%;
    min-height: 25px;
    display: flex;
}

#topLeftFilter {
    margin: auto;
    margin-left: 0%;
    float: left;
}

#topRightFilter {
    margin: auto;
    margin-right: 1%;
    float: right;
}

#middleBar {
    overflow-y: scroll;
    max-height: 85%;
}

#viewRow {
    min-height: 10px;
    max-height: 30px;
}

.topButtons {
    max-height: 20px;
    position: right;
}

.flexcon {
    display: flex;
    width: 100%;
}

#wrapperFilter {
    width: 100%;
    min-height: 25px;
}

#leftcolumnFilter {
    /* width: 30%; */
    margin: auto;
    margin-left: 0%;
    float: left;
}

#middlecolumnFilter {
    width: 40%;
    height: 100%;
    margin: auto;
    margin-left: 0%;
    position: relative;
    left: 10%;
    float: left;
}

#addTagFilter {
    width: 30%;
    width: 25px;
    height: 25px;
    display: flex;
    float: left;
    margin-right: 7px;
    align-items: center;
    justify-content: center;
}

#rightcolumnFilter {
    margin: auto;
    margin-right: 1%;
    float: right;
}

#lineSeparator {
    border:none;
    border-top:1px dotted rgb(0, 0, 0);
    color:#fff;
    padding-bottom: 10px;
    background-color:#fff;
    height:1px;
    float: left;
    width:99%;
}

#bottomBar {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 95%;
    bottom: 10px;
}

.bottomSaveButtons {
    border-radius: 10px;
    border: none;
    color: white;
    width: 100px;
    height: 40px;
    max-height: 60%;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

#filterSaveButton {
    background-color: #229acf;
}

#filterCancelButton {
    background-color: #fd1200;
}

.show:hover ul.list-categories{
    max-height: inherit;
    opacity: 1;
}

.show:hover {
    background: rgb(199, 199, 199);
    border-radius: 10px;
}

.show {
    float: right;
}

.list-categories li:hover {
    color: red;
    background: gainsboro;
}

.list-categories li {
    text-align: center;
    padding: 5px 0 5px 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 15px;
    margin: 0 15px 0 15px;
    font-weight: bold;
    display: block;
}

.list-categories{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 300ms ease;
    position: absolute;
    left: 0; top: 100%;
    width: 100%;
}