div.header {
    padding-top: 100px; 
}

#title {
        top: -184px;
        position:relative;
        color: #f74135;
        text-align: center;
        font-size: 38px;

}

.box {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    text-align: center;
    margin:auto;
    width:44%;
    height:740px;
    top:-62px;
}

#leftBox, #rightBox {
    /* display: inline-block;    */
    min-height: 350px; 
} 

#leftBox {
    margin-left: 1%;
    float: left;
    /* top:-355px; */
}
#rightBox {
    margin-right: 1%;
    float: right;
}

#searchBody {
    text-align: center;
    position: relative;
    width: 100%;
    height:500px;
}
