.SettingsBox {
    position: relative;
    top: -50px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 50%;
    height: 550px;
    margin: auto;
    min-width: 900px;
}

#settings:hover {
    background-color: #f75449;
}

.inputRow {
    position: relative;
    width: 70%;
    height: 50px;
    padding: 20px;
    margin: auto;
    top:16px;
}

.inputRow h2{
    float:left;
    margin: 0px;
    width: 45%;
    font-size: 22px;
}

.inputRow input{
    float: right;
    width: 45% !important;
    border: 1px solid black;
    font-size: 18px;
}

#changePassword {
    height:21px;
}

#confirmPassword {
	height:21px;
    border-top: none;
}

.cookies{
    width:45%;
    float:right;
}

#OptIn, #OptOut{
    margin-right: 25%;
}

.dropDownContainer {
    float: right;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid black;
}

.dropdown button{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 3px;
    border-top: none;
    font-size: 18px;
    text-align: center;
    position: relative;
    width:308px;
}

.dropdown-content{
    width:308px;
}


.dropdown-content button{
    width:308px;
    left:6px;
}

.dropdown-content button:hover{
    background-color: #ddd;
    cursor: pointer;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#save {
    background-color: #f74135;
    height:36px;
    width: 110px;
    border: 1px solid black;
    top:30px;
    color: white;
    font-size: 14px;
    text-decoration: bold;
    cursor: pointer;
}

#removeUser {
    background-color: #f74135;
    border: none;
    height:36px;
    width: 110px;
    top:57px;
    border: 1px solid black;
    color: white;
    text-decoration: bold;
    font-size: 14px;
    cursor: pointer;
}

#saveStatus {
    top:70px;
    position: relative;
}

