.SettingsBox {
    position: relative;
    top: -50px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 80%;
    height: 600px;
    margin: auto;
}

.SettingsLeft {
    border-style: none;
    border-color: black;
    border-width: 1px;
    width: 45%;
    height: 600px;
    padding:20px;
    float: left;
    text-align: right;
}

.SettingsRight {
    border-style: none;
    border-color: black;
    border-width: 1px;
    width: 45%;
    height: 600px;
    padding:20px;
    float: right;
    text-align: left;
}

#addUserStatus {
    color: red;
    text-align: center;
    text-decoration: bold;
    font-size: 18px;
    top: -150px;
    position: relative;
    margin: auto;
}

div.SettingsRight input {
    width: 70%;
    height: 1.5em;    
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 19.92px 0px 0px 0px;
    font-size: 14px;
}
details {
    width: 70%;   
    margin: 20px 0px 0px 0px;
    padding:3px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 3px;
    text-align: center;
    position: block;
}


#settingsBtnTxt {
    vertical-align:middle;
    bottom:0px;
    position: relative;
    color: blue;
    font-size: 14px;
    font-weight: bold;
}

#settings {
    background-color: white;
    border: none;
    top:-27px;
    height:36px;
    width: 250px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
}


#settings:hover {
    background-color: #f75449;

}



#hr{
    width:100%;
    top:54px;
    color: lightgray;
    position: relative;

}


.dropDownContainer {
    width: 70%;   
    margin: 20px 0px 0px 0px;
    padding:3px;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#registerContainer
{
    text-align: center;
}
