.SettingsBox {
    position: relative;
    top: -50px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 50%;
    height: 550px;
    margin: auto;

}

.SettingsLeft {
    border-style: none;
    border-color: black;
    border-width: 1px;
    width: 45%;
    height: 600px;
    padding:20px;
    float: left;
    text-align: right;
}

.SettingsRight {
    border-style: none;
    border-color: black;
    border-width: 1px;
    width: 45%;
    height: 600px;
    padding:20px;
    float: right;
    text-align: left;
}

#addUserStatus {
    color: red;
    text-align: center;
    text-decoration: bold;
    font-size: 18px;
    top: -150px;
    position: relative;
    margin: auto;
}

details {
    width: 300px;
    padding:3px;
    border-width: 1px;
    font-size: 18px;
    border-style: solid;
    border-color: black;
    text-align: center;
    position: block;
    float:right;
}


#settingsBtnTxt {
    vertical-align:middle;
    bottom:0px;
    position: relative;
    color: blue;
    font-size: 14px;
    font-weight: bold;
}

#settings {
    background-color: white;
    border: none;
    top:-27px;
    height:36px;
    width: 250px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
}


#settings:hover {
    background-color: #f75449;

}



#hr{
    width:100%;
    top:54px;
    color: lightgray;
    position: relative;

}


.dropDownContainer {
    float: right;
    margin: 0px;
    padding: 0px;
}

#registerContainer
{
    text-align: center;
}

.inputRow {
    position: relative;
    width: 66%;
    height: 50px;
    padding: 20px;
    text-align: right;
    margin: auto;
    top:16px;
}

.inputRow h2{
    float:left;
    margin: 0px;
    padding: 0px
}

.inputRow input{
    float: right;
    width: 300px;
    padding: 3px;
    border-color: black;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    font-size: 18px;
}

.inputRow #password {
    width: 297px;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
    float:left;
}

#changePassword {
    width:308px;
    height:15px;
}

#confirmPassword {
	width:308px;
	height:15px;
}

p{
    padding:0px;
    margin: 0px;
}


.cookies{
    padding: 10px;
    font-size: 18px;
}
#OptIn{
    width:30px;
}

#OptOut{
    width:30px;
}

label {
    float: right;
}

.dropdown button{
    width: 310px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 3px;
    font-size: 18px;
    text-align: center;
    position: relative;
}

.dropdown-content{
    width: 100%;
}

.dropdown-content button{
    width: 100%;
    left:6px;
}

.dropdown-content button:hover{
    background-color: #ddd;
}



.button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

#save {
    background-color: #f74135;
    border: none;
    height:36px;
    width: 110px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    top:30px;
}

#saveBtnTxt {
    vertical-align:middle;
    bottom:0px;
    position: relative;
    color: white;
    text-decoration: bold;
    font-size: 14px;
}

#saveStatus {
    top:80px;
    position: relative;
}
