/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 25px;
  left: 20px;
  top: -92px;
}


/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #f74135;

}



/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  left:240px;
 
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  left: -40px;
  
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  margin-top: -75px
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  top: 20px;
  position: relative;
  left:22px;
}

/* Individual item */
.bm-item a{
  display: inline-block;
  color: black;
  margin-bottom: 10px;
  padding-bottom: 8px;
  text-align: left;
  text-decoration: none;

}

.bm-item:hover a{
  color: #f74135;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  margin-top: -50px;
}