table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100% !important;
  top: 0px;
}
  
table td, table th {
  border: none !important;
  padding: 8px;
}

table th {
  text-align: left !important;
}

.box{
  text-align: left !important;
  max-height:740px !important;
  min-height:740px !important;
}
  
table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}
  
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff5959;
  color: white;
  top: -2px;
  position: relative;
}


.leftBoxTop{
    width: 100%;
    height:5%;
    min-width: 100%;
    /* display: grid; */
    vertical-align: top;
    border-bottom: 1px solid black;
}

#SearchTableWrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 95%;
  /* display: grid; */
}

#saveQuery{
  float: left;
  border: none;
  height:100%;
  border-radius: 0px !important; 
  border-right:none !important;
}

#rightButtons {
  float: left;
  height:100%;
  border: none;
  border-right:none !important;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: none !important;
}
#rightButtons:hover {
  background-color: #ddd;
}

#saveQuery:hover{
  background-color: #ddd;
}

#Filter:hover{
  background-color: #ddd;
}

#Filter{
  float:left;
  border-top:none;
  border-bottom:none;
  height:100%;
  /* left:1px; */
  position: relative;
  border-left:1px solid black;
  border-radius: 0px !important;
}

#tagsAddButton {
  width:10%;
  height:34px;
  position: relative;
  border-radius: 0px;
  float:right;
  border:none;
  border-left:1px solid black;
}

#tagsAddButton:hover {
  background-color: #ddd;
}

#searchSearchBarMozilla{
  float:left;
  border:none;
  height:100%;
  position: relative;
  width:72%;
  margin:0;
  padding:0;
  padding-left: 10px;
}

#searchSearchBarChrome{
  float:left;
  border:none;
  height:100%;
  position: relative;
  width:68.5%;
  margin:0;
  padding:0;
  padding-left: 10px;
}

#pageNumbers {
  position: relative;
  top: 3%;
  left: 25%;
}
#pagePrevious {
  left: 10%;
}

#pageNext {
  left: 90%;
}

.pageNumbers {
    margin:5px;
    height:30px;
  position:relative;
  top:10px;
}

#prevNextBox{
  /* display: grid; */
  margin-left: 30%;
}