table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100% !important;
  top: 0px;
  margin: 0;
}

#tagsTable{
  width: 100% !important;
  top: 0px;
  margin: 0;
}
  
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}
  
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff5959;
  color: white;
}

tbody{
  text-align: left;
}


#tagsTableSearchBar {
  height:32px;
  border: 1px black;
  position: absolute;
  width:80%;
  left:0%;
}

#tagsTableSearchBar:focus {
  outline : none;
}


#tagsTableTopBar {
  height: 34px;
  width:100%;
  border-bottom: 1px solid;
}

#tagsAddButton {
  height:37px;
  left:0px;
  position: relative;
}

#pageNumbers {
  position: relative;
  top: 3%;
  left: 25%;
}
#pagePrevious {
  left: 10%;
}

#pageNext {
  left: 90%;
}
