body {
    margin: 0;
}    
#wrapper {
     width: 100%;
     margin: 0 auto;
}

#leftcolumn {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    text-align: center;
    margin:auto;
    width:44%;
    height:740px;
    max-height: 740px;
    left: 4%;
    top:-62px;
    float:left;
    overflow-y: scroll;
}

.dropbtn{
    display:none;
}




#tagsPageStatus {
    position: relative;
    top: 45%;
    float:left;
}

#rightcolumn {
 
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    text-align: center;
    float:right;
    margin:auto;
    width:44%;
    height:740px;
    top:-62px;
    right:4%;
}

#editTagHeader {
    text-align: center;
    margin-bottom: 10%;
}

#editTagHeader2 {
    text-align: center;
    margin-bottom: 10%;
}




#engBox {
    left:10%;
    position: relative;
}
#gerBox {
    left:10%;
    position: relative;
}

#engBox2 {
    left:10%;
    position: relative;
}
#gerBox2 {
    left:10%;
    position: relative;
}




#defBox {
    left:10%;
    top:10%;
    position: relative;
}

.taginputBoxes{
    width: 30%;
    height:28px;
    margin-left: 32.5%;
    position: relative;
    top: -47px;
    margin-bottom:-4%;
    display:block;
}

.taginputBoxesToggled {
    width: 30%;
    height:28px;
    margin-left: 32.5%;
    position: relative;
    top: -47px;
    margin-bottom:-4%;
    display:block;
}

.rightBoxText{
    position:relative;
    margin-right:36%;
}

.rightBoxText2{
    position:relative;
    margin-right:38%;
}

#tagCategoryBox {
    left:10%;
    position: relative;
}

#editTagButtons {
    margin: 0;
    position: relative;
    bottom: -425px;
    left: -33%;
}



#addTagButtons {
    margin: 0;
    position: relative;
    bottom: -425px;
    /* bottom: 20%; */
    /* top: 400px; */
    left: -29%;
}

#addTagButtonsAdmin {
    margin: 0;
    position: absolute;
    height:34px;
    left:0px;
    top:0px !important;
    border-left:none;
    border-top:none;
    border-bottom: 1px solid black;
    border-right:1px solid black;
}

#addTagButtonsAdmin:hover {
    background-color: #ddd;
}

#addCatButtons {
    margin: 0;
   position: relative;
    
}

#addCatButtonsAdmin {
    margin: 0;
    position: absolute;
    height:34px;
    left:0px;
    top:0px !important;
    border-left:none;
    border-top:none;
    border-bottom: 1px solid black;
    border-right:1px solid black;
}

#addCatButtonsAdmin:hover {
    background-color: #ddd;
}

#editCatButtons {
    margin: 0;
    position: relative;
    bottom: -460px;
    left: -33%;
}

.editCatButtonsAdmin {
    margin: 0;
    top:0px;
    left:0px;
    position: absolute;
    top:0px;
    left:0px;
    height:34px;
    border-top:none;
    border-left:none;
    border-bottom: 1px solid black;
    border-right:1px solid black;

}

.editTagButtonsAdmin {
    margin: 0;
    top:0px;
    left:0px;
    height:34px;
    border-top:none;
    border-left:none;
    position: absolute;
    border-bottom: 1px solid black;
    border-right:1px solid black;
}

.editCatButtonsAdmin:hover{
    background-color: #ddd;
}

.editTagButtonsAdmin:hover {
 background-color: #ddd;
}

#tagtDeleteButton{
    margin: 0;
    top:0px;
    left:43px;
    height:34px;
    border-top:none;
    border-left:none;
    position: absolute;
    border-bottom: 1px solid black;
    border-right:1px solid black;
    border-left: 1px solid black;
}