.PaperBox {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: black;
    width: 1100px;
    Height: 345px;
    top: -100px;
    position: relative;
    text-align: center;
    margin:auto;
}

.PaperFields {
    top: -20px;
    position: relative;
}

.PaperBoxes {

    position: relative;
    width: 350px;
    height:28px;

}

#uploadBtnTxt {
    vertical-align:middle;
    bottom:0px;
    position: relative;
    color: white;
    text-decoration: bold;
    font-size: 14px;
}

#addTagBtnTxt {
    vertical-align:middle;
    bottom:0px;
    position: relative;
    color: white;
    text-decoration: bold;
    font-size: 14px;
}

#upload {
    background-color: #f74135;
    border: none;
    top:-602px;
    height:36px;
    width: 110px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
}

#addTag {
    background-color: #f74135;
    border: none;
    top:-564px;
	left: -36px;
    height:33px;
    width: 33px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
}


#upload:hover {
    background-color: #f75449;

}

#addTag:hover {
    background-color: #f75449;

}

#hr{
    width:100%;
    top:-602px;
    color: lightgray;
    position: relative;

}

#leftTitle
{
    position: relative;
    left: -224px;
    top: 70px;

}

#titleName{
    top:20px;
}

#leftAuthor
{
    position: relative;
    left: -240px;
    top: 28px;

}

#authorBox{
    top:-22px;
}

#leftContributor
{
    position: relative;
    left: -264px;
    top: -14px;

}

#contributor{
    top:-64px;
}

#leftRelations
{
    position: relative;
    left: -244px;
    top: -56px;

}

#relation{
    top:-106px;
}

#leftSubject
{
    position: relative;
    left: -240px;
    top: -98px;

}

#subject{
    top:-148px;
}

#leftDate
{
    position: relative;
    left: -226px;
    top: -140px;

}

#date{
    top:-190px;
}

#leftDescription
{
    position: relative;
    left: -264px;
    top: -182px;

}

#description{
    top:-232px;
}

#leftType
{
    position: relative;
    left: -226px;
    top: -224px;

}

#type{
    top:-274px;
}

#leftFormat
{
    position: relative;
    left: -240px;
    top: -266px;

}

#format{
    top:-316px;
}

#leftLanguage
{
    position: relative;
    left: -254px;
    top: -308px;

}

#languageBox{
    top:-358px;
}

#leftSource
{
    position: relative;
    left: -240px;
    top: -350px;

}

#sourceBox{
    top:-400px;
}

#leftPublisher
{
    position: relative;
    left: -254px;
    top: -392px;

}

#publisher{
    top:-442px;
}

#leftRights
{
    position: relative;
    left: -240px;
    top: -434px;

}

#rights{
    top:-484px;
}

#leftCoverage
{
    position: relative;
    left: -254px;
    top: -476px;

}

#coverage{
    top:-526px;
}

#leftISBN
{
    position: relative;
    left: -228px;
    top: -518px;

}

#isbn{
    top:-568px;
}

#leftURL
{
    position: relative;
    left: -224px;
    top: -560px;

}

#urlBox{
    top:-610px;
}

#leftTags
{
    position: relative;
    left: -224px;
    top: -560px;
}

#tagsearch{
	top:-564px;
	left:-15px;
}

#tags{
    top:-602px;
}

#uploadForm{
	position: relative;
	top: -610px;
}

#paperStatus{
	position: relative;
	top: -564px;
}

#registerContainer
{
    text-align: center;
}