.PaperBox {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: black;
    width: 1100px;
    Height: 345px;
    top: -100px;
    position: relative;
    text-align: center;
    margin:auto;
}

#titleName{
    top:20px;
}

#author{
    top:-24px;
}

#tagsearch{
	top:-48px;
	left:-17px;
}

#tags{
    top:-70px;
}

.PaperFields {
    top: -20px;
    position: relative;
}

.PaperBoxes {

    position: relative;
    width: 350px;
    height:28px;

}

#uploadBtnTxt {
    vertical-align:middle;
    bottom:0px;
    position: relative;
    color: white;
    text-decoration: bold;
    font-size: 14px;
}

#addTagBtnTxt {
    vertical-align:middle;
    bottom:0px;
    position: relative;
    color: white;
    text-decoration: bold;
    font-size: 14px;
}

#upload {
    background-color: #f74135;
    border: none;
    top:60px;
    height:36px;
    width: 110px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
}

#addTag {
    background-color: #f74135;
    border: none;
    top:-48px;
	left: -36px;
    height:33px;
    width: 33px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
}


#upload:hover {
    background-color: #f75449;

}

#addTag:hover {
    background-color: #f75449;

}

#leftTitle
{
    position: relative;
    top: 70px;
    left: -224px;

}

#hr{
    width:100%;
    top:54px;
    color: lightgray;
    position: relative;

}

#leftAuthor
{
    position: relative;
    left: -240px;
    top: 28px;

}

#leftTags
{
    position: relative;
    left: -224px;
    top: -18px;
}

#registerContainer
{
    text-align: center;
}